// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Palette background
$turquoise: #7ac0c0;
$purple: #D2BEEC;
$pink: #F587CC;

//NO FUNCIONA:
/* $gradient: linear-gradient(to bottom,#D2BEEC,#FAFAFA); */

//TEXT SIZE
$bigtext: 50px;
$headertext: 40px;
$smalltext: 25px;


